<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quam blanditiis odit doloremque eos commodi, totam tenetur vero, repudiandae, numquam quidem officiis laboriosam magnam ipsam distinctio aperiam? Voluptas doloremque illum culpa sed nemo. Esse vero quos consequatur velit, tempora error culpa. Dolorem minus animi doloribus, nobis autem quia. Debitis non aliquid recusandae? Aspernatur voluptate eaque natus totam dignissimos eveniet, quas ipsa! Numquam consequuntur cumque aut veritatis, inventore quam aliquam est suscipit qui quaerat voluptas quis nisi delectus voluptates facere dolorem.</p>
    </div>
</div>